<!doctype html>
<html lang="ja">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>奈良市役所コールセンター</title>
<meta name="description">
<meta property="og:type" content="website">
<meta property="og:title" content="奈良市役所コールセンター">
<meta property="og:description">
<meta property="og:image" content="https://naracitycc.fastcloud.jp/fa/faq/web/images/logo-fa2-image.png">
<meta property="og:site_name" content="奈良市役所コールセンター">
<link rel="shortcut icon" href="./images/favicon.ico?hash=5efffb20284e94b336c2465de3f646b8">
<link rel="icon" href="./images/favicon.ico?hash=5efffb20284e94b336c2465de3f646b8">
<link rel="stylesheet" href="css/common.css?hash=29149b969a0d6eee78441c566c66b7c3">
<link rel="stylesheet" href="./css/theme.css?hash=2fd8c0c06110f1e421576511f3f158ff">
<link rel="alternate stylesheet" href="css/font-small.css?hash=fc760beb94d2972323870e32adf4811a" title="フォントサイズ小" id="stylesheet-font-small">
<link rel="stylesheet" href="css/font-normal.css?hash=45757fdd157b83deabbc902cd4affbf6" title="フォントサイズ中" id="stylesheet-font-normal">
<link rel="alternate stylesheet" href="css/font-large.css?hash=57b1cb38cc25427c1e92078fd88ac1a9" title="フォントサイズ大" id="stylesheet-font-large">


</head>

<body class="color-blue home" data-locale="ja">
	
	<script src="js/lib/polyfill.min.js?hash=43055663714ef9e4108cf42d8fd283cd"></script>
	<script src="js/lib/vue.min.js?hash=0c5113a13b11605c4cee5106f5c916cb"></script>
	<script src="js/lib/vueJsModal.js?hash=da4e097f63cf7b13d12f0832790486e0"></script>
	<script src="js/messageResources.js?hash=187a69fba5f3dcebd92c01f41c109374" data-fa-message-url="nls/message.properties?hash=7e0856696090a7244f470f9c9dcd1d09"></script>
	<script src="js/common.js?hash=53d80e84d205312c90d3ad6ecfedfbd2"></script>
	
	
	<!-- ============================= ▼ Header ▼ ============================= -->
	<header id="str-header">
		<div class="str-header-inner">
			<p class="site-logo">
				<a href="index.html">
					<img src="images/logo-fa2.png?hash=4c7888bfe23796a4aa2ca155e87e66ed" alt="FastAnswer">
				</a>
			</p>
			<div class="area-header">
				
				
				<p class="txt-header-contact">
					<a href="https://9c6d4b3b.form.kintoneapp.com/public/naracity-contactcenter">お問い合わせ</a>
				</p>

				<div class="font-size-change" id="font-size-change"  v-font-size-change>
					<p class="txt-size">文字サイズ</p>
					<button type="button" class="font-small" data-font-size="small">小</button>
					<button type="button" class="font-normal" data-font-size="normal">中</button>
					<button type="button" class="font-large" data-font-size="large">大</button>
					<!--/.font-size-change-->
				</div>
				<!--/.area-header-->
			</div>
			<!--/.str-header-inner-->
		</div>
		<script type="text/x-template" id="evaluate-modal-template">
			<div>
				<form ref="siteEvaluateForm">
					<div class="modal-content modal-evaluate-site-content">
						<div class="modal-heading">
							<h2 class="hdg-lv2-modal">サイトのフィードバック</h2>
						</div>
						<div class="area-questionnaire">
							<p class="hdg-questionnaire">
								<b>目的のナレッジは見つかりましたか？</b>
							</p>
							<ul class="list-questionnaire evaluate-site col-3">
								<li>
									<a href="#" @click.prevent="evaluate(0)" class="btn-questionnaire btn-helpful js-modal-link">
										<span class="txt-questionnaire">見つかった</span>
									</a>
								</li>
								<li>
									<a href="#" @click.prevent="evaluate(1)" class="btn-questionnaire btn-neither js-modal-link">
										<span class="txt-questionnaire">見つけたが見つけにくい</span>
									</a>
								</li>
								<li>
									<a href="#" @click.prevent="evaluate(2)" class="btn-questionnaire btn-useless js-modal-link">
										<span class="txt-questionnaire">見つからなかった</span>
									</a>
								</li>
							</ul>
							<div class="answer-success" style="display: none">ご評価ありがとうございました</div>
						</div>
						<div class="comment-text-input-area" style="display: none">
							<div class="modal-desc">
								<div class="str-modal-inner">
									<p class="txt-modal-opinion">ご評価いただき、ありがとうございます。<br>今後のサービスの改善のため、ご意見・ご感想をお聞かせください。</p>
									<p class="txt-note-normal">
										<b class="mrk-ast">※</b>
										<small class="txt-note">こちらの入力フォームからのお問い合わせ等は受付できません。個人情報の入力はご遠慮ください。</small>
									</p>
									<textarea @keyup="onKeyupSiteCommentText" class="area-free-opinion" name="siteCommentTextArea" rows="5" cols="40" title="ご意見・ご感想を入力"></textarea>
								</div>
							</div>
							<div class="lyt-btn-wrap">
								<div class="area-btn-send">
									<button type="button" name="btnSend" class="btn-send" @click="sendCommentText" disabled>
										<span class="btn-inner">送信</span>
									</button>
								</div>
							</div>
						</div>
						<div class="answer-success input-comment-success" style="display: none">コメントありがとうございました</div>
						<p class="modal-btn-close">
							<button type="button" class="modal-btn-close-label" aria-expanded="true" @click="$emit('close')">
								<span class="modal-status">閉じる</span>
							</button>
						</p>
					</div>
				</form>
			</div>
		</script>
	</header>
	<!-- ============================= ▲ Header ▲ ============================= -->

	<!-- ============================= ▼ Main Contents ▼ ============================= -->
	<main id="str-main">

	<div class="area-top" >
		<div class="str-inner">
			<h1 class="hdg-lv1-top">
				<span class="hdg-icon area-image"><div class="icon-faq" alt="FAQ"></div></span><span>よくあるご質問</span>
			</h1>
			
		</div>
	</div>

	

	<div class="area-top-search" id="knowledgeSearch">
		<div class="str-inner">
			<div class="area-search-wrap" id="suggest">
				<div class="area-search-inner">
					<form class="area-search-form" action="/fa/faq/web/knowledgeList.html" method="get" @submit.prevent="search">
						<div class="area-search-input" v-suggest>
							<input class="search-keywords" ref="keyword" type="text" name="keyword" placeholder="キーワードから探す" title="検索" autocomplete="off" maxlength="200" v-model="form.keyword" id="keyword" value="">
							
							<div class="area-search-suggest">
								<div class="area-search-suggest-inner">
									<ul class="list-search-key list-in-keyword"></ul>
									<ul class="list-search-key list-in-label"></ul>
									<!--/.area-search-suggest-inner-->
								</div>
								<!--/.area-search-suggest-->
							</div>

							<!--/.area-search-input-->
						</div>
						<div class="area-search-submit">
							<button type="submit">検索</button>
						</div>
						<div class="fhButton js-modal-link advanced" @click="openDialog">
							<p><a href="javascript:void(0)">詳細検索</a></p>
						</div>
					</form>
					<!--/.area-search-inner-->
					<div class="modal-wrap-01" ref="modalContainer" v-show="opened" @keydown="checkKeyEvent" :aria-expanded="opened ? 'true' : 'false'" :aria-hidden="!opened ? 'true' : 'false'" tabindex="0" style="display:none;">
						<form @submit.prevent="search">
							<div class="modal-content">
			
								<div class="modal-heading">
									<h2 class="hdg-lv2-modal">検索条件を設定してください</h2>
									<!-- /.modal-heading -->
								</div>
				
								<div class="modal-desc">
									<div class="str-modal-inner">
										<h3 class="hdg-lv2-02">キーワード</h3>
										<ul>
											<div class="area-search-general">
												<input type="text" id="keywordSw" name="keyword" title="キーワード" data-vv-as="キーワード" v-model="form.keyword" v-validate="'max:200'" :class="{'is-error': errors.has('keyword')}" autocomplete="off" maxlength="200">
											</div>
										</ul>
										<p class="txt-is-error"　v-if="errors.has('keyword')"><strong>{{ errors.first('keyword') }}</strong></p>
										
										<h3 class="hdg-lv2-02">検索方法</h3>
										<ul class="lyt-select-search">
											<li>
												<div class="area-search-display">
													<div class="select-search-display">
														<fa-select name="searchMethod" v-model="form.searchMethod" title="検索方法" :default-options="[{label:&#39;キーワード検索&#39;,value:&#39;0&#39;},{label:&#39;自然文検索&#39;,value:&#39;1&#39;},{label:&#39;自動&#39;,value:&#39;2&#39;}]" :default-selected="2" ref="searchMethod"></fa-select>
													</div>
													<div class="select-search-display">
														<fa-select name="searchCondition" v-model="form.searchCondition" title="検索方法" :default-options="[{label:&#39;すべてのキーワードを含む&#39;,value:&#39;0&#39;},{label:&#39;いずれかのキーワードを含む&#39;,value:&#39;1&#39;}]" :default-selected="0" ref="searchCondition"></fa-select>
														<!--/.select-search-display-->
													</div>
													<!--/.area-search-display-->
												</div>
											</li>
										</ul>
										
										<span v-show="agentAssistantSettingLength > 0">
											<h3 class="hdg-lv2-02">AI検索検索結果=検索結果</h3>
											<div class="area-contents use-ai-search">
												<label for="useSearchAssist" class="txt-check-item-label use-ai-search-label"><input type="checkbox" id="useSearchAssist" name="form.useSearchAssist" v-model="form.useSearchAssist" true-value="1" false-value="0" @change="updateAgentAssistantSelect(form.useSearchAssist)" class="input-check" data-use-search-assist-by-default-flg="1"/><span class="txt-check-item">利用する</span></label>
												<ul class="lyt-select-search">
													<li>
														<div class="area-search-display" v-show="form.useSearchAssist == '1' && agentAssistantSettingLength > 1">
															<div class="select-search-display">
																<fa-select class="agentAssistantSettingSelect" name="agentAssistantSetting" title="エージェントアシスタント設定" v-model="form.agentAssistantSettingId" service-name="./service/agentAssistantSetting" label-prop="displayName" value-prop="agentAssistantSettingId" @option-load-complete="updateAgentAssistantSettingLength"></fa-select>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</span>
										
										<h3 class="hdg-lv2-02">除外キーワード</h3>
										<div class="area-search-general">
											<input type="text" id="ignoreKeyword" name="ignoreKeyword" title="除外キーワード" data-vv-as="除外キーワード" v-model="form.ignoreKeyword" v-validate="'max:200'" :class="{'is-error': errors.has('ignoreKeyword')}" autocomplete="off" maxlength="200" :disabled="form.useSearchAssist === '1'">
										</div>
										<p class="txt-is-error"　v-if="errors.has('ignoreKeyword')"><strong>{{ errors.first('ignoreKeyword') }}</strong></p>
										
										<h3 class="hdg-lv2-02">検索対象項目</h3>
										<ul class="lyt-select-search">
											<li>
												<div class="area-search-display">
													<div class="select-search-display">
														<fa-select name="searchTargetKnowledgeKindList" title="検索対象項目" v-model="form.searchTargetKnowledgeKindList" service-name="./service/knowledgeKind" label-prop="name" value-prop="knowledgeKindId"  :disabled="form.useSearchAssist === '1'"></fa-select>
														<!--/.select-search-display-->
													</div>
													<div class="select-search-display">
														<fa-select name="searchTargetKnowledgeOptionList" title="検索対象項目" v-model="form.searchTargetKnowledgeOptionList" service-name="./service/knowledgeOptionType" label-prop="name" value-prop="knowledgeOptionTypeId" parent-value-prop="knowledgeKindId" :parent-value="form.searchTargetKnowledgeKindList"  :disabled="form.useSearchAssist === '1'"></fa-select>
														<!--/.select-search-display-->
													</div>
													<!--/.area-search-display-->
												</div>
											</li>
											<li>
												<div class="area-search-display">
													<label for="targetNameFlg" class="txt-check-item-label"><input type="checkbox" id="targetNameFlg" name="form.targetNameFlg" v-model="form.targetNameFlg" true-value="1" false-value="0" class="input-check" :disabled="form.useSearchAssist === '1'"><span class="txt-check-item">ナレッジ名を検索対象にする</span></label>
													<label for="targetSearchTagFlg" class="txt-check-item-label"><input type="checkbox" id="targetSearchTagFlg" name="form.targetSearchTagFlg" v-model="form.targetSearchTagFlg" true-value="1" false-value="0" class="input-check" :disabled="form.useSearchAssist === '1'"><span class="txt-check-item">検索タグ名を検索対象にする</span></label>
													<label for="targetItemFlg" class="txt-check-item-label"><input type="checkbox" id="targetItemFlg" name="form.targetItemFlg" v-model="form.targetItemFlg" true-value="1" false-value="0" class="input-check" :disabled="form.useSearchAssist === '1'"><span class="txt-check-item">製品名を検索対象にする</span></label>
													<label for="targetCategoryFlg" class="txt-check-item-label"><input type="checkbox" id="targetCategoryFlg" name="form.targetCategoryFlg" v-model="form.targetCategoryFlg" true-value="1" false-value="0" class="input-check" :disabled="form.useSearchAssist === '1'"><span class="txt-check-item">カテゴリ名を検索対象にする</span></label>
													<label for="targetFileAttachFlg" class="txt-check-item-label"><input type="checkbox" id="targetFileAttachFlg" name="form.targetFileAttachFlg" v-model="form.targetFileAttachFlg" true-value="1" false-value="0" class="input-check"><span class="txt-check-item">添付ファイルを検索対象にする</span></label>
													<!--/.area-search-display-->
												</div>
											</li>
										</ul>
										
										<h3 class="hdg-lv2-02">ナレッジ番号</h3>
										<div class="area-search-general">
											<input id="knowledgeId" name="knowledgeId" title="ナレッジ番号" data-vv-as="ナレッジ番号" type="text" v-model="form.knowledgeId" v-validate="'numeric|max:15'" :class="{'is-error': errors.has('knowledgeId')}" maxlength="15" autocomplete="off" class="fh-number-input">
										</div>
										<p class="txt-is-error"　v-if="errors.has('knowledgeId')"><strong>{{ errors.first('knowledgeId') }}</strong></p>
										
										<h3 class="hdg-lv2-02">ナレッジ分類</h3>
										<ul class="lyt-select-search">
											<li>
												<div class="area-search-display">
													<div class="select-search-display">
														<fa-select name="knowledgeKindIdList" title="ナレッジ分類" v-model="form.knowledgeKindIdList" service-name="./service/knowledgeKind" label-prop="name" value-prop="knowledgeKindId"></fa-select>
													</div>
													<div class="select-search-display">
														<fa-select name="knowledgeKindTypeIdList" title="ナレッジ分類種別" v-model="form.knowledgeKindTypeIdList" service-name="./service/knowledgeKindType" label-prop="name" value-prop="knowledgeKindTypeId" parent-value-prop="knowledgeKindId" :parent-value="form.knowledgeKindIdList"></fa-select>
														<!--/.select-search-display-->
													</div>
													<!--/.area-search-display-->
												</div>
											</li>
										</ul>
										
										<h3 class="hdg-lv2-02">製品</h3>
										<ul class="lyt-select-search">
											<li>
												<div class="area-search-display">
													<div class="select-search-display">
														<fa-select name="itemIdList" title="製品" v-model="form.itemIdList" service-name="./service/item" label-prop="name" value-prop="itemId"></fa-select>
													</div>
													<div class="select-search-display">
														<fa-select name="itemChildIdList" title="子製品" v-model="form.itemChildIdList" service-name="./service/itemChild" label-prop="name" value-prop="itemChildId" parent-value-prop="itemId" :parent-value="form.itemIdList"></fa-select>
														<!--/.select-search-display-->
													</div>
													<!--/.area-search-display-->
												</div>
											</li>
										</ul>
										
										
											<h3 class="hdg-lv2-02">カテゴリ</h3>
											
											
											<h3 class="hdg-lv3-01">カテゴリから探す</h3>
											
											<ul class="lyt-select-search" data-categoryKindId="1">
												<li>
													<div class="area-search-display">
														<div class="select-search-display">
															<fa-select ref="category11" name="category[1][1]" title="カテゴリ1" v-model="form.category[1][1]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:1,categoryLevel:1}"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category12 != null &amp;&amp; $refs.category12.options.length &gt; 1">
															<fa-select ref="category12" name="category[1][2]" title="カテゴリ2" v-model="form.category[1][2]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:1,categoryLevel:2}" parent-value-prop="pcategoryId" :parent-value="form.category[1][1]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category13 != null &amp;&amp; $refs.category13.options.length &gt; 1">
															<fa-select ref="category13" name="category[1][3]" title="カテゴリ3" v-model="form.category[1][3]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:1,categoryLevel:3}" parent-value-prop="pcategoryId" :parent-value="form.category[1][2]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category14 != null &amp;&amp; $refs.category14.options.length &gt; 1">
															<fa-select ref="category14" name="category[1][4]" title="カテゴリ4" v-model="form.category[1][4]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:1,categoryLevel:4}" parent-value-prop="pcategoryId" :parent-value="form.category[1][3]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category15 != null &amp;&amp; $refs.category15.options.length &gt; 1">
															<fa-select ref="category15" name="category[1][5]" title="カテゴリ5" v-model="form.category[1][5]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:1,categoryLevel:5}" parent-value-prop="pcategoryId" :parent-value="form.category[1][4]"></fa-select>
														</div>
														<!--/.area-search-display-->
													</div>
													
												</li>
											</ul>
											
											
											
											<h3 class="hdg-lv3-01">ライフイベントで探す</h3>
											
											<ul class="lyt-select-search" data-categoryKindId="101">
												<li>
													<div class="area-search-display">
														<div class="select-search-display">
															<fa-select ref="category1011" name="category[101][1]" title="カテゴリ1" v-model="form.category[101][1]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:101,categoryLevel:1}"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category1012 != null &amp;&amp; $refs.category1012.options.length &gt; 1">
															<fa-select ref="category1012" name="category[101][2]" title="カテゴリ2" v-model="form.category[101][2]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:101,categoryLevel:2}" parent-value-prop="pcategoryId" :parent-value="form.category[101][1]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category1013 != null &amp;&amp; $refs.category1013.options.length &gt; 1">
															<fa-select ref="category1013" name="category[101][3]" title="カテゴリ3" v-model="form.category[101][3]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:101,categoryLevel:3}" parent-value-prop="pcategoryId" :parent-value="form.category[101][2]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category1014 != null &amp;&amp; $refs.category1014.options.length &gt; 1">
															<fa-select ref="category1014" name="category[101][4]" title="カテゴリ4" v-model="form.category[101][4]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:101,categoryLevel:4}" parent-value-prop="pcategoryId" :parent-value="form.category[101][3]"></fa-select>
														</div>
														<div class="select-search-display" v-show="$refs.category1015 != null &amp;&amp; $refs.category1015.options.length &gt; 1">
															<fa-select ref="category1015" name="category[101][5]" title="カテゴリ5" v-model="form.category[101][5]" service-name="./service/category" label-prop="name" value-prop="categoryId" :extend-service-param="{categorykindId:101,categoryLevel:5}" parent-value-prop="pcategoryId" :parent-value="form.category[101][4]"></fa-select>
														</div>
														<!--/.area-search-display-->
													</div>
													
												</li>
											</ul>
											
											
										
										<h3 class="hdg-lv2-02">検索タグ</h3>
										<ul class="lyt-select-search">
											<li>
												<div class="area-search-display">
													<div class="select-search-display">
														<fa-select name="searchTagIdList" title="検索タグ" v-model="form.searchTagIdList" service-name="./service/searchTag" label-prop="name" value-prop="searchTagId"></fa-select>
														<!--/.select-search-display-->
													</div>
													<!--/.area-search-display-->
												</div>
											</li>
										</ul>
										<!--/.str-modal-inner-->
									</div>
									<!-- /.modal-desc -->
								</div>
				
								<div class="lyt-btn-wrap">
									<ul class="btn-form">
										<li><button type="button" v-on:click="clear">クリア</button></li>
										<li><button type="submit" class="btn-search" :disabled="errors.any()"><span class="btn-inner">検索</span></button></li>
									</ul>
									<!-- /.lyt-btn-wrap -->
								</div>
								<p class="modal-btn-close">
									<button type="button" class="modal-btn-close-label" @click="closeDialog">
										<span class="modal-status">閉じる</span>
									</button>
								</p>
							<!-- /.modal-content -->
							</div>
						</form>
					</div>
					<div id="modal-overlay" :aria-hidden="!opened ? 'true' : 'false'" @click.self="closeDialog" tabindex="-1"></div>
				</div>
				<p class="txt-search-supplement">キーワード検索=スペースを区切った複数のキーワードで検索できます。「例：結婚　窓口」</p>
				<!--/.area-search-wrap-->
			</div>

			<div class="area-attention-keywords">
				<dl class="lyt-attention-keywords">
					<dt>注目のキーワード</dt>
					<dd>
						<ul class="list-attention-keywords">
							<li value="マイナンバーカード" v-search-keyword>
								<a href="javascript:void(0)">マイナンバーカード</a>
							</li>
							<li value="給付金" v-search-keyword>
								<a href="javascript:void(0)">給付金</a>
							</li>
							<li value="ごみステーション" v-search-keyword>
								<a href="javascript:void(0)">ごみステーション</a>
							</li>
							<li value="市民課" v-search-keyword>
								<a href="javascript:void(0)">市民課</a>
							</li>
							<li value="国民健康保険" v-search-keyword>
								<a href="javascript:void(0)">国民健康保険</a>
							</li>
							<li value="税" v-search-keyword>
								<a href="javascript:void(0)">税</a>
							</li>
							<li value="自治会" v-search-keyword>
								<a href="javascript:void(0)">自治会</a>
							</li>
							<li value="保護費" v-search-keyword>
								<a href="javascript:void(0)">保護費</a>
							</li>
							<li value="国民健康保険料" v-search-keyword>
								<a href="javascript:void(0)">国民健康保険料</a>
							</li>
							<li value="交付金" v-search-keyword>
								<a href="javascript:void(0)">交付金</a>
							</li>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
						</ul>
					</dd>
				</dl>
				<!--/.area-attention-keywords-->
			</div>
			<!--/.str-inner-->
		</div>
		<!--/.area-top-search-->
	</div>

	

	

	<div class="area-general-wrap">
		<div class="str-inner">
			<div class="area-border-top">
				<h2 class="hdg-lv2-01 align-center">カテゴリから探す</h2>
				
				
								
				<h3 class="hdg-lv3-01">カテゴリから探す</h3>

				<ul id="category1List" class="list-category icon-has col-4 js-sp-toggle">
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category120.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/procedure.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>手続き・届け出</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category121.html">戸籍の届け</a>
							</li>
							<li>
								<a href="/fa/faq/web/category242.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category261.html">住民基本台帳の届け</a>
							</li>
							<li>
								<a href="/fa/faq/web/category263.html">印鑑登録と証明</a>
							</li>
							<li>
								<a href="/fa/faq/web/category265.html">コンビニ交付</a>
							</li>
							<li>
								<a href="/fa/faq/web/category267.html">交付</a>
							</li>
							<li>
								<a href="/fa/faq/web/category345.html">住民基本台帳</a>
							</li>
							<li>
								<a href="/fa/faq/web/category347.html">外国人</a>
							</li>
							<li>
								<a href="/fa/faq/web/category354.html">旧氏併記</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category104.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/tax.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>税金</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category105.html">国税、県税</a>
							</li>
							<li>
								<a href="/fa/faq/web/category155.html">市税</a>
							</li>
							<li>
								<a href="/fa/faq/web/category199.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category201.html">税務証明と台帳閲覧</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category107.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/welfare.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>福祉</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category108.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category147.html">障がいのある人</a>
							</li>
							<li>
								<a href="/fa/faq/web/category167.html">高齢者</a>
							</li>
							<li>
								<a href="/fa/faq/web/category185.html">在宅のサービス</a>
							</li>
							<li>
								<a href="/fa/faq/web/category191.html">介護保険制度</a>
							</li>
							<li>
								<a href="/fa/faq/web/category217.html">生活保護制度</a>
							</li>
							<li>
								<a href="/fa/faq/web/category274.html">地域福祉</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category111.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/health.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>健康・保健</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category112.html">保健所</a>
							</li>
							<li>
								<a href="/fa/faq/web/category171.html">予防接種</a>
							</li>
							<li>
								<a href="/fa/faq/web/category249.html">医療</a>
							</li>
							<li>
								<a href="/fa/faq/web/category252.html">救急医療（休日夜間診察・休日歯科診療）</a>
							</li>
							<li>
								<a href="/fa/faq/web/category310.html">健康づくり</a>
							</li>
							<li>
								<a href="/fa/faq/web/category314.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category316.html">生活衛生</a>
							</li>
							<li>
								<a href="/fa/faq/web/category318.html">健康管理施設</a>
							</li>
							<li>
								<a href="/fa/faq/web/category327.html">市立奈良病院</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category117.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/nara.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>奈良市のしくみ・取り組み</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category118.html">入札</a>
							</li>
							<li>
								<a href="/fa/faq/web/category169.html">統計</a>
							</li>
							<li>
								<a href="/fa/faq/web/category176.html">市役所のご案内</a>
							</li>
							<li>
								<a href="/fa/faq/web/category207.html">人事</a>
							</li>
							<li>
								<a href="/fa/faq/web/category211.html">取り組み</a>
							</li>
							<li>
								<a href="/fa/faq/web/category247.html">友好姉妹都市</a>
							</li>
							<li>
								<a href="/fa/faq/web/category291.html">コールセンター</a>
							</li>
							<li>
								<a href="/fa/faq/web/category295.html">奈良市のプロフィール</a>
							</li>
							<li>
								<a href="/fa/faq/web/category337.html">リニア中央新幹線</a>
							</li>
							<li>
								<a href="/fa/faq/web/category359.html">財政</a>
							</li>
							<li>
								<a href="/fa/faq/web/category372.html">その他</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category123.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/education.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>教育・文化・スポーツ</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category124.html">生涯学習</a>
							</li>
							<li>
								<a href="/fa/faq/web/category145.html">学校教育</a>
							</li>
							<li>
								<a href="/fa/faq/web/category165.html">社会教育施設・文化施設</a>
							</li>
							<li>
								<a href="/fa/faq/web/category229.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category259.html">スポーツ</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category126.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/living.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>生活環境</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category127.html">環境保全</a>
							</li>
							<li>
								<a href="/fa/faq/web/category135.html">ごみ処理</a>
							</li>
							<li>
								<a href="/fa/faq/web/category140.html">道路</a>
							</li>
							<li>
								<a href="/fa/faq/web/category163.html">下水道</a>
							</li>
							<li>
								<a href="/fa/faq/web/category215.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category222.html">放置自転車</a>
							</li>
							<li>
								<a href="/fa/faq/web/category226.html">住民組織</a>
							</li>
							<li>
								<a href="/fa/faq/web/category304.html">上水道</a>
							</li>
							<li>
								<a href="/fa/faq/web/category321.html">河川</a>
							</li>
							<li>
								<a href="/fa/faq/web/category341.html">し尿処理</a>
							</li>
							<li>
								<a href="/fa/faq/web/category363.html">公園</a>
							</li>
							<li>
								<a href="/fa/faq/web/category368.html">飼い犬の登録、動物取扱業、犬・ねこの引取り</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category129.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/child.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>こども</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category130.html">手当、助成</a>
							</li>
							<li>
								<a href="/fa/faq/web/category178.html">児童館、保育所、バンビーホーム</a>
							</li>
							<li>
								<a href="/fa/faq/web/category183.html">子育て支援</a>
							</li>
							<li>
								<a href="/fa/faq/web/category219.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category224.html">母子、ひとり親家庭</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category132.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/public.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>広報・情報公開</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category133.html">主な広報活動</a>
							</li>
							<li>
								<a href="/fa/faq/web/category289.html">情報公開・個人情報保護等</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category137.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/insurance.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>保険と年金</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category138.html">国民健康保険</a>
							</li>
							<li>
								<a href="/fa/faq/web/category153.html">後期高齢者医療制度</a>
							</li>
							<li>
								<a href="/fa/faq/web/category278.html">国民年金</a>
							</li>
							<li>
								<a href="/fa/faq/web/category287.html">その他</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category142.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/event.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>イベント・観光</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category143.html">観光</a>
							</li>
							<li>
								<a href="/fa/faq/web/category231.html">イベント</a>
							</li>
							<li>
								<a href="/fa/faq/web/category235.html">施設</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category150.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/consultation.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>相談あんない</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category151.html">市民相談一覧</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category157.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/peace.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>人権・平和</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category158.html">人権尊重の社会環境づくり</a>
							</li>
							<li>
								<a href="/fa/faq/web/category160.html">男女共同参画社会</a>
							</li>
							<li>
								<a href="/fa/faq/web/category256.html">ボランティア・NPO</a>
							</li>
							<li>
								<a href="/fa/faq/web/category276.html">非核平和都市</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category173.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/house.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>住まいとまちづくり</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category174.html">交通安全</a>
							</li>
							<li>
								<a href="/fa/faq/web/category203.html">都市計画</a>
							</li>
							<li>
								<a href="/fa/faq/web/category213.html">建築</a>
							</li>
							<li>
								<a href="/fa/faq/web/category238.html">景観</a>
							</li>
							<li>
								<a href="/fa/faq/web/category240.html">市営住宅</a>
							</li>
							<li>
								<a href="/fa/faq/web/category272.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category293.html">市民参加のまちづくり</a>
							</li>
							<li>
								<a href="/fa/faq/web/category343.html">住居表示の届け出と住所の表し方</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category180.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/disasterprevention.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>防災・防火・救急</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category181.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category233.html">救急、消防</a>
							</li>
							<li>
								<a href="/fa/faq/web/category254.html">防災（風水害・地震）</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category188.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/mynumberCategory.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>マイナンバー</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category189.html">手続き・届け出</a>
							</li>
							<li>
								<a href="/fa/faq/web/category297.html">個人情報保護等</a>
							</li>
							<li>
								<a href="/fa/faq/web/category302.html">税金</a>
							</li>
							<li>
								<a href="/fa/faq/web/category349.html">制度</a>
							</li>
							<li>
								<a href="/fa/faq/web/category352.html">マイナポータル</a>
							</li>
							<li>
								<a href="/fa/faq/web/category356.html">その他</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category195.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/city.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>市議会・選挙</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category196.html">選挙</a>
							</li>
							<li>
								<a href="/fa/faq/web/category299.html">市議会</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category244.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/industry.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>商工・勤労・農林</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category245.html">商工業</a>
							</li>
							<li>
								<a href="/fa/faq/web/category270.html">その他</a>
							</li>
							<li>
								<a href="/fa/faq/web/category323.html">農林業</a>
							</li>
							<li>
								<a href="/fa/faq/web/category334.html">勤労者福祉事業</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="true">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category101.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/other.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>その他</b>
								</span>
							</a>
						</p>
						<ul slot="body" class="list-link-row">
							<li>
								<a href="/fa/faq/web/category102.html">その他</a>
							</li>
							
							
							
						</ul>
						</fa-accordion>
					</li>
					
					
					
				</ul>
				
				
				
								
				<h3 class="hdg-lv3-01">ライフイベントで探す</h3>

				<ul id="category101List" class="list-category icon-has col-4 js-sp-toggle">
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category114.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/pregnancy.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>妊娠・出産</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category115.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/admission.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>入園・入学</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category116.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/moving.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>引越し</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category382.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/work.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>就職・退職</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category383.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/condolence.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>おくやみ</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					<li>
						<fa-accordion :use-toggle="false">
						<p slot="title" class="hdg-category">
							<a href="/fa/faq/web/category384.html">
								<span class="icon-category">
									<img src="/fa/faq/web/images/marriage.png" alt="">
								</span>
								<span class="hdg-category-content">
									<b>結婚・離婚</b>
								</span>
							</a>
						</p>
						
						</fa-accordion>
					</li>
					
					
					
				</ul>
				
				
				<!--/.area-border-top-->
			</div>
		</div>
	</div>

	

	

	<div id="generalListArea" class="area-faq-cont">
		<div class="str-inner" v-match-heights="{el: ['.box-set1','.box-set2']}">

			

			
			<!--/.area-faq-cont-->
		</div>
	
	</div>

	</main>
	<!-- ============================= ▲ Main Contents ▲ ============================= -->

	<!-- ============================= ▼ Footer ▼ ============================= -->
	<footer id="str-footer">

		<div class="str-inner">
			<p class="page-top" v-smooth-scroll>
				<a href="#top">ページトップ</a>
				<!--/.page-top-->
			</p>
			<!--/.str-inner-->
		</div>

		<div class="area-inquiry">
			<div class="str-inner" style="margin-bottom: 30px;">
				<h1 class="str-inquiry" style="text-align: center;background-color: #FFFFFF;margin: 0;color: #d75c78;">
					<span>お問い合わせ方法</span>
				</h1>
				<h2 style="text-align: center; background-color: rgb(255, 255, 255); margin: 0px; color: rgb(215, 92, 120);">TEL 0742-34-1111</h2>
				<p style="text-align: center;background-color: #FFFFFF;margin: 0;color: black;">※おかけ間違いにご注意ください。</p>
				<p style="text-align: center;background-color: #FFFFFF;margin: 0;color: #d75c78;font-size: 20px;">受付時間 9時から17時 土曜・日曜・祝日及び年末年始除く</p>
				<div class="wr-btn-y" style="text-align: center;background-color: #FFFFFF; padding-top: 10px; padding-bottom: 10px;color: #d75c78;">
					<a style="text-decoration: none;pading: 5px" href="https://9c6d4b3b.form.kintoneapp.com/public/naracity-contactcenter">
						<span class="wr-box" style="border-radius: 4px;border: solid 1px #d75c78;color: #d75c78;padding: 2px;margin: 10px;font-size: 24px;">お問い合わせフォーム　→</span>
					</a>
				</div>
			</div>
		</div>

		<div class="area-banner">
			<div class="str-inner">
				<div class="col-3">
					<div class="part">
						<div class="img-border">
							<a href="https://www.city.nara.lg.jp/site/gomi-syusyu/" target="_blank"><img src="./images/garbage.png" alt="ごみ"></a>
							<!--/.img-border-->
						</div>
						<!--/.part-->
					</div>
					<div class="part">
						<div class="img-border">
							<a href="https://www.city.nara.lg.jp/site/mynamber/" target="_blank"><img src="./images/mynumber.png" alt="マイナンバー"></a>
							<!--/.img-border-->
						</div>
						<!--/.part-->
					</div>
					<div class="part">
						<div class="img-border">
							<a href="https://h2o.nara.nara.jp" target="_blank"><img src="./images/watersupply.png" alt="企業局（上下水道）"></a>
							<!--/.img-border-->
						</div>
						<!--/.part-->
					</div>
					<!--/.col-4-->
				</div>
				<!--/.str-inner-->
			</div>
			<!--/.area-banner-->
		</div>
		
		<div class="area-footer">
			<div class="str-inner">
				<p class="copyrightTxt">
					Copyright © Nara City. All Rights Reserved.
				</p>
				<p class="powerdByTxt">
					<a class="txt-footer-name" href="https://fastseries.jp/" target="_blank" rel="noopener noreferrer">powered by FastAnswer</a>
				</p>
				<!--/.str-inner-->
			</div>
			<!--/.area-footer-->
		</div>

	</footer>
	<!-- ============================= ▲ Footer ▲ ============================= -->
	<script src="js/lib/vee-validate.min.js?hash=a154051262b9205053baf9112e04be86"></script>
	<script src="js/lib/vee-validate.min.ja.js?hash=d8cf74bbd693aaf77277b6e83f110b9e"></script>
	<script src="js/lib/axios.min.js?hash=d1b64beea1a06f6b2db21ab63c9e1411"></script>
	<script src="js/index.js?hash=0e8815535ef67e135409e3d6029c49dd"></script>
	<script src="js/knowledgeList.js?hash=f7d1852fb470e6002e60932a968b137c"></script>
	
</body>
</html>
